<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RF Mapping Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="introduction">
            <h1>Welcome to the RF Mapping Tool</h1>
            <p>Please choose which kind of data you want to scan:</p>

            <div class="scannerblock">
                <a href="/templates/index.html"> By phone scanner </a>
            </div>

            <div class="scannerblock">
                <a href="/templates/index.html"> By scanner </a>
            </div>
        </div>

    </body>
</html>